.langagues-grid {
  font-family: "Gowun Batang";
  /* font-weight: bold; */
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-content: center;
}
