.langaguesList {
  margin-bottom: 40px;
}

.langague {
  display: grid;
  grid-template-columns: 40% 46% 8%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.langague .removeBtn {
  background-color: red;
  color: aliceblue;
  border: 1px solid;
  border-radius: 5%;
  font-size: 1rem;
  cursor: pointer;
  height: max-content;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: grid;
  grid-template-columns: auto 30% auto 30%;
  row-gap: 10px;
  column-gap: 30px;
  justify-content: center;
  width: 100%;
}

.languages input {
  font-size: 1.4rem;
}

.addBtn {
  margin-top: 30px;
  background-color: greenyellow;
}
