/* Langagues */
#profile-page .active-tab .certification {
  display: grid;
  grid-template-columns: 70% max-content;
  row-gap: 20px;
  margin-bottom: 40px;
  justify-content: space-between;
}

#profile-page .active-tab .certification .remove-btn {
  background-color: red;
  color: aliceblue;
  border: 1px solid;
  border-radius: 5%;
  font-size: 1rem;
  cursor: pointer;
  height: max-content;
  justify-self: flex-end;
}

#profile-page .active-tab .certifications-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-page .active-tab .certifications-input {
  display: grid;
  grid-template-columns: 30% auto;
  row-gap: 10px;
  column-gap: 30px;
  width: 80%;
}

#profile-page .active-tab .add-btn {
  margin-top: 30px;
  background-color: greenyellow;
}
