#profile-page .active-tab .assets-list {
  margin-bottom: 50px;
}

#profile-page .active-tab .asset {
  display: grid;
  grid-template-columns: auto 8%;
  margin-bottom: 10px;
}

#profile-page .active-tab .asset .remove-btn {
  background-color: red;
  color: aliceblue;
  border: 1px solid;
  border-radius: 5%;
  font-size: 1rem;
  cursor: pointer;
  height: max-content;
}

#profile-page .active-tab .assets-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-page .active-tab .assets-input {
  display: grid;
  grid-template-columns: 15% 60%;
  row-gap: 10px;
  column-gap: 30px;
  justify-content: center;
  width: 100%;
}

#profile-page .active-tab .add-btn {
  margin-top: 30px;
  background-color: greenyellow;
}

#profile-page .active-tab .assets input {
  font-size: 1.4rem;
}
