#profile-page {
  background-color: rgb(221, 251, 251);
  width: 80%;
  height: 100%;
  margin: 50px auto;
  padding: 20px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

#profile-page .grid {
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: auto 70%;
  justify-content: space-between;
  align-items: flex-start;
}

/* Information Tab */
#profile-page .informations-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}

#profile-page .informations-tab ul {
  list-style-type: none;
  padding-inline-start: unset;
  margin-top: unset;
}

#profile-page .informations-tab ul li {
  cursor: pointer;
}

#profile-page .informations-tab ul li:hover {
  color: orangered;
}

#profile-page .informations-tab ul li.active {
  color: orangered;
  font-weight: bold;
}

/* Active tab */
#profile-page .active-tab {
  width: 100%;
  /* background-color: azure; */
}

/* Save Button */
#profile-page .save-btn {
  margin: 20px auto 0 auto;
  font-size: 1.5rem;
  padding: 15px 25px;
  border-radius: 8px;
  background-color: rgb(255, 129, 129);
  color: aliceblue;
  /* border: 1px solid black; */
  cursor: pointer;
}
