#profile-page {
  background-color: rgb(221, 251, 251);
  width: 80%;
  height: 100%;
  margin: 50px auto;
  padding: 20px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  border: 2px saddlebrown solid;
  border-radius: 5px;
}

#profile-page h1 {
  margin: 20px auto 40px auto;
}

#profile-page .grid {
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: auto 70%;
  justify-content: space-between;
  align-items: flex-start;
}

/* Information Tab */
#profile-page .informations-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}

#profile-page .informations-tab ul {
  list-style-type: none;
  padding-inline-start: unset;
  margin-top: unset;
}

#profile-page .informations-tab ul li {
  cursor: pointer;
}

#profile-page .informations-tab ul li:hover {
  color: orangered;
}

#profile-page .informations-tab ul li.active {
  color: orangered;
  font-weight: bold;
}

/* Active tab */
#profile-page .active-tab {
  width: 100%;
}
