#profile-page .active-tab .skills-list {
  margin-bottom: 40px;
}

#profile-page .active-tab .skill {
  display: grid;
  grid-template-columns: 18% auto 8%;
  margin-bottom: 10px;
  column-gap: 15px;
}

#profile-page .active-tab .skill .remove-btn {
  background-color: red;
  color: aliceblue;
  border: 1px solid;
  border-radius: 5%;
  font-size: 1rem;
  cursor: pointer;
  height: max-content;
}

#profile-page .active-tab .skills-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-page .active-tab .skills-input {
  display: grid;
  grid-template-columns: max-content auto max-content auto;
  row-gap: 10px;
  column-gap: 30px;
  justify-content: center;
  width: 100%;
}

#profile-page .active-tab .add-btn {
  margin-top: 30px;
  background-color: greenyellow;
}
