.grid {
  color: var(--template2-main-color);
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 150px auto;
  column-gap: 20px;
  row-gap: 20px;
  height: 100%;
  margin: 20px;
}
