.skills {
  display: grid;
  grid-gap: 20px 60px;
  grid-template-columns: 20% auto;
  align-items: center;
  margin: 15px 30px;
}

.skills > .key {
  color: rgba(0, 0, 0, 0.692);
  margin-left: 30px;
  align-self: flex-start;
  font-weight: bold;
}
