.template2 {
  --accent-color: #2ca187;
  --main-color: rgb(100, 95, 95);
  color: var(--main-color);
}

.template2.grid {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 150px auto;
  column-gap: 20px;
  row-gap: 20px;
  height: 100%;
  margin: 20px;
}
