.template2 .left-pane {
  display: flex;
  flex-direction: column;
}

.template2 .left-pane .contact {
  /* font-family: "Gowun Batang"; */
  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: max-content max-content;
  align-items: center;
  align-content: center;
  justify-content: center;
  line-height: normal;
  font-size: 0.71rem;

  font-weight: bold;
}

.template2 .left-pane .contact a {
  color: var(--main-color);
  text-decoration: none;
}

.template2 .left-pane .contact .icon {
  /* margin: auto;
  font-size: 0.7rem; */
  color: var(--accent-color);
}
