.template2 .name-and-title {
  background-color: var(--accent-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 4px;
}

.template2 .name-and-title .name {
  color: white;
  font-weight: bold;
}

.template2 .name-and-title hr {
  border-color: #62e9cc3b;
  background-color: #62e9cc3b;
  width: 100%;
  height: 1px;
}

.template2 .name-and-title .title {
  color: white;
}
