.template2 .languages {
  display: grid;
  grid-template-columns: 50% 50%;
}

.template2 .language {
  display: flex;
  flex-direction: column;
}

.template2 .language span:nth-child(1) {
  font-weight: bold;
}
