.template1 .realizations {
  display: grid;
  grid-gap: 10px 20px;
  grid-template-columns: 20% auto;
  align-items: center;
  margin: 0 45px 0 10px;
  font-size: 0.7rem;
}

.template1 .realizations > .period {
  color: rgba(107, 100, 100, 0.692);
  margin-left: 10px;
  align-self: flex-start;
  font-size: 0.7rem;
  width: 100%;
}

.template1 .realizations .title {
  font-weight: bold;
  font-size: 0.8rem;
}

.template1 .realizations .enterprise {
  color: blue;
}

.template1 .realizations .details {
  color: rgb(97, 94, 94);
  margin-top: 2px;
}

.template1 .realizations .more {
  margin-top: 1px;
  color: rgba(107, 100, 100, 0.753);
  font-style: italic;
}
