.template2 .certifications {
  display: flex;
  flex-direction: column;
}

.template2 .certification {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.template2 .certification > a,
.template2 .certification > span:nth-child(1) {
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 5px;
}

.template2 .certification > a:hover {
  color: rgb(16, 182, 160);
}
