.certifications {
  display: flex;
  flex-direction: column;
}

.certification {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.certification > a,
.certification > span:nth-child(1) {
  color: var(--template2-main-color);
  font-weight: bold;
  margin-bottom: 5px;
}

.certification > a:hover {
  color: rgb(16, 182, 160);
}
