#profile-page .active-tab .experiences-list {
  margin-bottom: 40px;
}

#profile-page .active-tab .experience {
  display: grid;
  grid-template-columns: 35% auto 35% 8%;
  margin-bottom: 40px;
  row-gap: 20px;
  column-gap: 10px;
}

#profile-page .active-tab .experience .title {
  font-weight: bold;
}

#profile-page .active-tab .experience .period {
  color: rgb(68, 65, 65);
}

#profile-page .active-tab .experience .remove-btn {
  background-color: red;
  color: aliceblue;
  border: 1px solid;
  border-radius: 5%;
  font-size: 1rem;
  cursor: pointer;
  height: max-content;
}

#profile-page .active-tab .experiences-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-page .active-tab .experiences-input {
  display: grid;
  grid-template-columns: auto 30% auto 30%;
  row-gap: 10px;
  column-gap: 30px;
  justify-content: center;
  width: 100%;
}

#profile-page .active-tab .add-btn {
  margin-top: 30px;
  background-color: greenyellow;
}

#profile-page .active-tab .experiences input {
  font-size: 1.4rem;
}

#profile-page .active-tab .experiences .icon {
  color: rgb(241, 23, 59);
}
