:root {
  --template2-accent-color: #2ca187;
  --template2-main-color: rgb(100, 95, 95);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  width: max-content;
  padding: 8px 20px;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 5px;
}
