.template2 .photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.template2 .photo-wrapper img {
  max-width: 100%;
  max-height: 90%;
  border-radius: 50%;
}

.template2 .name-and-title {
  background-color: var(--accent-color, green);
}
